.w-half{width:50%}
.inline-flex{display:-webkit-inline-box;display:-ms-inline-flexbox;display:inline-flex}
.mt-3{margin-top:.75rem}
.px-5{padding-left:1.25rem;padding-right:1.25rem}
.ml-2{margin-left:.5rem}
.-mr-1{margin-right:-.25rem}
.w-5{width:1.25rem}
.h-5{height:1.25rem}
.pt-14{padding-top:3.5rem}
.px-6{padding-left:1.5rem;padding-right:1.5rem}
.bg-primary-700{--tw-bg-opacity:1;background-color:#0000FF}
.relative{position:relative}
.text-gray-500{--tw-text-opacity:1;color:#657280)}

